<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Отдел финансов</title>
    <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Отдел финансов</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/client" class="nav-link" aria-current="page">Клиент</a></li>
        <li class="nav-item"><a href="/storage" class="nav-link">Склад</a></li>
        <li class="nav-item"><a href="/developdep" class="nav-link">Производственный отдел</a></li>
        <li class="nav-item"><a href="/buydep" class="nav-link">Отдел закупок</a></li>
        <li class="nav-item"><a href="#" class="nav-link active">Финансовый отдел</a></li>
    </ul>
</header>
<div class="container mt-5">
    <h1>Заказы на покупку</h1>
    <div th:each="item : ${items}" class="alert alert-info mt-2" >
        <p>Номер заказа<h3 th:text = "${item.orderId}"/></p>
        <p>Дата<h3 th:text = "${item.date}"/></p>
        <p>Материал <h3 th:text = "${item.material}"/></p>
        <p>Количество<h3 th:text = "${item.matCnt}"/></p>
        <p>Цена за штуку<h3 th:text = "${item.matAmount}"/></p>
        <p>Поставщик<h3 th:text = "${item.dealer}"/></p>
        <p>КонтрАгент<h3 th:text = "${item.contAg}"/></p>
        <p>Менеджер<h3 th:text = "${item.manager}"/></p>
        <p>Номер договора поставщика<h3 th:text = "${item.contract}"/></p>
        <p>НДС<h3 th:text = "${item.ndc}"/></p>
        <p>ИТОГО<h3 th:text = "${item.total}"/></p>
        <a th:href="'/financedep/'+${item.orderId}+'/pay'" class="btn btn-warning">Оплатить</a>
    </div>
</div>
</body>
</html>